In [18]:
import pandas as pd
import geopy
from geopy import distance
from tqdm import tqdm
import gmplot
from matplotlib import pyplot as plt
from sklearn.cluster import DBSCAN
import numpy as np
import requests
import simplejson
import datetime
from imblearn.over_sampling import SMOTE
import math

In [19]:
#set filepath for google takeout json file
filepath = "/Users/Shruti bhat/Downloads/SanK"
filename = "/SanK.json"

# Less -> More accuracy
accuracy_threshold = 50

tdiff_threshold = 1200 # In seconds

geodist_threshold = 50 # In metres

visit_threshold = 300 # In seconds

In [20]:
#enrich json file to create a workable dataframe
#this cell also gives a statistic for yearly data volume

# Read file into dataframe# Read f 
df = pd.read_json(filepath+filename,orient='records')


# Drop useless columns
#df.drop(['activity', 'altitude', 'verticalAccuracy', 'heading', 'velocity'], axis=1, inplace=True)

# Rename weirdly named columns
df.rename(index = int, columns = {'latitudeE7':'latitude',
                                  'longitudeE7': 'longitude',
                                  'timestampMs' : 'timestamp'}, inplace =True)
# Add offset for GMT to IST
df['timestamp'].apply(lambda x: x+pd.Timedelta(hours=5, minutes=30))

# Apply accuracy filter
df = df[df['accuracy'] <= accuracy_threshold]

#Arrange the dataframe in ascending time order
# df = df.reindex(index=df.index[::-1])
# df['index'] = list(range(df.shape[0])) 
# df.set_index('index', inplace=True)
#df = df.reset_index()

# Initialise time difference and geodist columns
df['tdiff'] = 0
df['geodist'] = 0

# Lat and Long in the form 19045972, 73025802
# Convert to 19.045972, 73.025802
df['latitude'] = df['latitude'].apply(lambda x: x/10000000.0)
df['longitude'] = df['longitude'].apply(lambda x: x/10000000.0)
#print(df['latitude'])
df['location'] = list(zip(df.latitude, df.longitude))

# Add additional date and time related columns
df['day'] = df['timestamp'].dt.weekday
df['week'] = df['timestamp'].dt.week
df['month'] = df['timestamp'].dt.month
df['year'] = df['timestamp'].dt.year

print(df['year'].value_counts())
df

ValueError: Trailing data

In [4]:
# Apply the time range filter
# selecting the year with maximum data
df = df[df['timestamp'].dt.year==2016]

#Arrange the dataframe in ascending time order
df['timestamp'].sort_values()
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)

df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,,,,,,
0,27,"[{'timestampMs': '1482056152648', 'activity': ...",NaN,NaN,19.082939,72.836920,2016-12-20 07:33:54.502,NaN,NaN,0,0,"(19.0829388, 72.8369199)",1,51,12,2016
1,27,"[{'timestampMs': '1482219234915', 'activity': ...",NaN,NaN,19.082939,72.836920,2016-12-20 07:32:54.428,NaN,NaN,0,0,"(19.0829388, 72.8369199)",1,51,12,2016
2,37,"[{'timestampMs': '1482218594232', 'activity': ...",NaN,NaN,19.080768,72.837811,2016-12-20 07:22:48.500,NaN,NaN,0,0,"(19.0807681, 72.837811)",1,51,12,2016
3,4,"[{'timestampMs': '1481391958670', 'activity': ...",-61.0,149.0,19.049027,72.828346,2016-12-10 17:05:20.000,0.0,NaN,0,0,"(19.0490269, 72.8283459)",5,49,12,2016
4,5,"[{'timestampMs': '1481389409980', 'activity': ...",-49.0,142.0,19.051401,72.828476,2016-12-10 17:03:20.000,2.0,NaN,0,0,"(19.0514006, 72.8284756)",5,49,12,2016
5,5,"[{'timestampMs': '1481389283475', 'activity': ...",-57.0,241.0,19.053530,72.830296,2016-12-10 17:01:20.000,1.0,NaN,0,0,"(19.0535297, 72.8302964)",5,49,12,2016
6,5,"[{'timestampMs': '1481192014480', 'activity': ...",-47.0,167.0,19.056711,72.832277,2016-12-10 16:59:20.000,1.0,NaN,0,0,"(19.0567107, 72.8322765)",5,49,12,2016
7,5,"[{'timestampMs': '1481389156969', 'activity': ...",-49.0,180.0,19.056833,72.832268,2016-12-10 16:59:14.000,3.0,NaN,0,0,"(19.0568327, 72.8322683)",5,49,12,2016
8,5,NaN,-45.0,154.0,19.057468,72.832200,2016-12-10 16:58:59.000,4.0,NaN,0,0,"(19.0574679, 72.8321996)",5,49,12,2016
9,6,NaN,-39.0,185.0,19.058189,72.832160,2016-12-10 16:58:43.000,5.0,NaN,0,0,"(19.0581886, 72.8321603)",5,49,12,2016
10,5,NaN,-33.0,186.0,19.058830,72.832255,2016-12-10 16:58:28.000,4.0,NaN,0,0,"(19.0588295, 72.8322549)",5,49,12,2016
11,5,NaN,-37.0,148.0,19.059525,72.832245,2016-12-10 16:58:13.000,1.0,NaN,0,0,"(19.0595253, 72.8322448)",5,49,12,2016
12,6,NaN,-52.0,263.0,19.060018,72.832346,2016-12-10 16:57:58.000,2.0,NaN,0,0,"(19.0600175, 72.8323464)",5,49,12,2016
13,7,NaN,-54.0,265.0,19.060070,72.833066,2016-12-10 16:57:43.000,3.0,NaN,0,0,"(19.0600698, 72.8330655)",5,49,12,2016
14,5,NaN,-55.0,281.0,19.060056,72.833585,2016-12-10 16:57:28.000,5.0,NaN,0,0,"(19.0600564, 72.8335849)",5,49,12,2016
15,5,"[{'timestampMs': '1481389025622', 'activity': ...",-58.0,265.0,19.059970,72.834305,2016-12-10 16:57:13.000,2.0,NaN,0,0,"(19.0599704, 72.8343045)",5,49,12,2016
16,5,NaN,-48.0,213.0,19.060181,72.834962,2016-12-10 16:56:58.000,2.0,NaN,0,0,"(19.060181, 72.8349619)",5,49,12,2016
17,7,NaN,-59.0,181.0,19.060902,72.835086,2016-12-10 16:56:43.000,6.0,NaN,0,0,"(19.0609022, 72.8350858)",5,49,12,2016
18,5,NaN,-58.0,190.0,19.061846,72.835256,2016-12-10 16:56:28.000,3.0,NaN,0,0,"(19.0618462, 72.8352556)",5,49,12,2016
19,4,NaN,-57.0,292.0,19.062008,72.835626,2016-12-10 16:56:13.000,5.0,NaN,0,0,"(19.062008, 72.8356264)",5,49,12,2016
20,4,NaN,-65.0,290.0,19.061715,72.836123,2016-12-10 16:55:57.000,5.0,NaN,0,0,"(19.0617148, 72.8361235)",5,49,12,2016
21,3,NaN,-67.0,290.0,19.061556,72.837002,2016-12-10 16:55:42.000,5.0,NaN,0,0,"(19.0615564, 72.8370022)",5,49,12,2016
22,4,NaN,-63.0,185.0,19.061909,72.837316,2016-12-10 16:55:26.000,8.0,NaN,0,0,"(19.0619092, 72.837316)",5,49,12,2016
23,3,NaN,-55.0,179.0,19.063097,72.837342,2016-12-10 16:55:11.000,7.0,NaN,0,0,"(19.0630968, 72.8373419)",5,49,12,2016
24,15,"[{'timestampMs': '1481388894275', 'activity': ...",-51.0,196.0,19.063696,72.837197,2016-12-10 16:54:56.000,2.0,NaN,0,0,"(19.0636955, 72.8371973)",5,49,12,2016
25,3,"[{'timestampMs': '1481388786746', 'activity': ...",-38.0,184.0,19.068395,72.837970,2016-12-10 16:52:09.000,1.0,NaN,0,0,"(19.0683946, 72.8379699)",5,49,12,2016
26,25,"[{'timestampMs': '1481388712020', 'activity': ...",NaN,NaN,19.068455,72.837978,2016-12-10 16:51:52.494,NaN,NaN,0,0,"(19.0684554, 72.8379777)",5,49,12,2016
27,24,NaN,NaN,NaN,19.068415,72.838024,2016-12-10 16:51:37.296,NaN,NaN,0,0,"(19.0684149, 72.8380239)",5,49,12,2016
28,24,"[{'timestampMs': '1481388679817', 'activity': ...",NaN,NaN,19.068397,72.837839,2016-12-10 16:51:21.178,NaN,NaN,0,0,"(19.0683973, 72.8378392)",5,49,12,2016
29,24,"[{'timestampMs': '1481388649082', 'activity': ...",NaN,NaN,19.068397,72.837839,2016-12-10 16:50:49.046,NaN,NaN,0,0,"(19.0683973, 72.8378392)",5,49,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,39,NaN,-56.0,NaN,19.082925,72.837382,2016-01-21 14:54:32.497,0.0,NaN,0,0,"(19.0829245, 72.8373816)",3,3,1,2016
2665,45,NaN,NaN,NaN,19.082952,72.837391,2016-01-21 14:53:50.531,NaN,NaN,0,0,"(19.0829519, 72.8373908)",3,3,1,2016
2666,12,"[{'timestampMs': '1453388015244', 'activity': ...",NaN,NaN,19.082943,72.837410,2016-01-21 14:53:23.498,NaN,NaN,0,0,"(19.0829435, 72.8374104)",3,3,1,2016
2667,13,NaN,NaN,NaN,19.082943,72.837411,2016-01-21 14:53:07.837,NaN,NaN,0,0,"(19.0829432, 72.8374109)",3,3,1,2016
2668,16,NaN,NaN,NaN,19.082942,72.837412,2016-01-21 14:52:52.780,NaN,NaN,0,0,"(19.0829424, 72.8374122)",3,3,1,2016
2669,21,"[{'timestampMs': '1453387954716', 'activity': ...",NaN,NaN,19.082944,72.837408,2016-01-21 14:52:37.624,NaN,NaN,0,0,"(19.0829438, 72.837408)",3,3,1,2016
2670,42,NaN,NaN,NaN,19.082942,72.837408,2016-01-21 14:52:22.159,NaN,NaN,0,0,"(19.0829424, 72.837408)",3,3,1,2016
2671,45,NaN,NaN,NaN,19.082938,72.837434,2016-01-21 14:51:25.436,NaN,NaN,0,0,"(19.0829378, 72.8374341)",3,3,1,2016
2672,22,"[{'timestampMs': '1453387869589', 'activity': ...",NaN,NaN,19.082945,72.837413,2016-01-21 14:51:02.376,NaN,NaN,0,0,"(19.0829447, 72.8374131)",3,3,1,2016
2673,31,NaN,NaN,NaN,19.082950,72.837391,2016-01-21 14:50:42.603,NaN,NaN,0,0,"(19.0829502, 72.8373911)",3,3,1,2016
2674,22,NaN,NaN,NaN,19.082949,72.837391,2016-01-21 14:50:25.315,NaN,NaN,0,0,"(19.0829492, 72.8373914)",3,3,1,2016
2675,45,"[{'timestampMs': '1453387807608', 'activity': ...",NaN,NaN,19.082948,72.837391,2016-01-21 14:50:02.474,NaN,NaN,0,0,"(19.0829484, 72.8373915)",3,3,1,2016
2676,17,NaN,NaN,NaN,19.082938,72.837424,2016-01-21 14:48:44.025,NaN,NaN,0,0,"(19.082938, 72.8374245)",3,3,1,2016
2677,21,NaN,NaN,NaN,19.082936,72.837436,2016-01-21 14:48:23.105,NaN,NaN,0,0,"(19.0829359, 72.8374364)",3,3,1,2016
2678,45,NaN,NaN,NaN,19.082939,72.837426,2016-01-21 14:48:05.637,NaN,NaN,0,0,"(19.0829394, 72.8374264)",3,3,1,2016
2679,42,"[{'timestampMs': '1453387665759', 'activity': ...",NaN,NaN,19.082928,72.837475,2016-01-21 14:47:48.709,NaN,NaN,0,0,"(19.0829276, 72.8374747)",3,3,1,2016
2680,23,"[{'timestampMs': '1453387604190', 'activity': ...",NaN,11.0,19.082929,72.837468,2016-01-21 14:47:08.111,NaN,NaN,0,0,"(19.0829285, 72.8374683)",3,3,1,2016
2681,40,NaN,NaN,NaN,19.082926,72.837466,2016-01-21 14:46:50.555,NaN,NaN,0,0,"(19.0829263, 72.8374656)",3,3,1,2016
2682,18,NaN,NaN,NaN,19.063209,72.834645,2016-01-12 14:05:11.046,NaN,NaN,0,0,"(19.0632088, 72.834645)",1,2,1,2016
2683,37,NaN,NaN,NaN,19.063208,72.834645,2016-01-12 14:04:52.201,NaN,NaN,0,0,"(19.0632084, 72.834645)",1,2,1,2016
2684,22,NaN,NaN,NaN,19.082905,72.837541,2016-01-10 15:07:40.664,NaN,NaN,0,0,"(19.0829055, 72.8375411)",6,1,1,2016
2685,45,NaN,NaN,NaN,19.082863,72.837395,2016-01-10 14:21:24.974,NaN,NaN,0,0,"(19.0828631, 72.8373951)",6,1,1,2016
2686,11,"[{'timestampMs': '1451827527588', 'activity': ...",-56.0,NaN,19.080583,72.843250,2016-01-03 13:25:29.083,0.0,NaN,0,0,"(19.0805832, 72.8432497)",6,53,1,2016
2687,40,NaN,NaN,NaN,19.080418,72.843456,2016-01-03 13:25:13.247,NaN,NaN,0,0,"(19.0804182, 72.8434563)",6,53,1,2016
2688,3,NaN,-60.0,154.0,19.085146,72.845909,2016-01-02 23:17:50.732,13.0,NaN,0,0,"(19.0851462, 72.8459091)",5,53,1,2016
2689,40,NaN,NaN,NaN,19.086740,72.844886,2016-01-02 23:17:34.794,NaN,NaN,0,0,"(19.0867403, 72.8448856)",5,53,1,2016
2690,14,"[{'timestampMs': '1451776351738', 'activity': ...",-66.0,292.0,19.099585,72.872824,2016-01-02 23:12:41.921,7.0,NaN,0,0,"(19.0995854, 72.872824)",5,53,1,2016
2691,28,NaN,NaN,NaN,19.082917,72.837443,2016-01-02 14:29:01.659,NaN,NaN,0,0,"(19.0829169, 72.8374434)",5,53,1,2016
2692,45,"[{'timestampMs': '1451658958850', 'activity': ...",NaN,NaN,19.075008,72.835082,2016-01-01 14:36:07.996,NaN,NaN,0,0,"(19.0750079, 72.8350822)",4,53,1,2016
2693,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,0,0,"(19.0751162, 72.835246)",4,53,1,2016

In [5]:
# Returns time difference between 2 timestamps in seconds# Returns 
def timeDiff(t1, t2):
    return round(pd.Timedelta(t2 - t1).seconds)

# Returns geographic distance between coordinates in metres
def geoDist(l1, l2):
    return round(distance.vincenty(l1, l2).m )

In [6]:
# generate time difference and geodistance between consecutive data tuples
# Generate two series objects from the timestamps in such a way that both can be subtracts(timeDiff)
# Combine the two series objects wuth the function tdiff

ts = df['timestamp']
ts[0]
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]
df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df['geodist'].value_counts()
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  import sys
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,geodist,location,day,week,month,year
index,,,,,,,,,,,,,,,,
0,27,"[{'timestampMs': '1482056152648', 'activity': ...",NaN,NaN,19.082939,72.836920,2016-12-20 07:33:54.502,NaN,NaN,0.0,0.0,"(19.0829388, 72.8369199)",1,51,12,2016
1,27,"[{'timestampMs': '1482219234915', 'activity': ...",NaN,NaN,19.082939,72.836920,2016-12-20 07:32:54.428,NaN,NaN,86339.0,0.0,"(19.0829388, 72.8369199)",1,51,12,2016
2,37,"[{'timestampMs': '1482218594232', 'activity': ...",NaN,NaN,19.080768,72.837811,2016-12-20 07:22:48.500,NaN,NaN,85794.0,258.0,"(19.0807681, 72.837811)",1,51,12,2016
3,4,"[{'timestampMs': '1481391958670', 'activity': ...",-61.0,149.0,19.049027,72.828346,2016-12-10 17:05:20.000,0.0,NaN,34951.0,3652.0,"(19.0490269, 72.8283459)",5,49,12,2016
4,5,"[{'timestampMs': '1481389409980', 'activity': ...",-49.0,142.0,19.051401,72.828476,2016-12-10 17:03:20.000,2.0,NaN,86280.0,263.0,"(19.0514006, 72.8284756)",5,49,12,2016
5,5,"[{'timestampMs': '1481389283475', 'activity': ...",-57.0,241.0,19.053530,72.830296,2016-12-10 17:01:20.000,1.0,NaN,86280.0,304.0,"(19.0535297, 72.8302964)",5,49,12,2016
6,5,"[{'timestampMs': '1481192014480', 'activity': ...",-47.0,167.0,19.056711,72.832277,2016-12-10 16:59:20.000,1.0,NaN,86280.0,409.0,"(19.0567107, 72.8322765)",5,49,12,2016
7,5,"[{'timestampMs': '1481389156969', 'activity': ...",-49.0,180.0,19.056833,72.832268,2016-12-10 16:59:14.000,3.0,NaN,86394.0,14.0,"(19.0568327, 72.8322683)",5,49,12,2016
8,5,NaN,-45.0,154.0,19.057468,72.832200,2016-12-10 16:58:59.000,4.0,NaN,86385.0,71.0,"(19.0574679, 72.8321996)",5,49,12,2016
9,6,NaN,-39.0,185.0,19.058189,72.832160,2016-12-10 16:58:43.000,5.0,NaN,86384.0,80.0,"(19.0581886, 72.8321603)",5,49,12,2016
10,5,NaN,-33.0,186.0,19.058830,72.832255,2016-12-10 16:58:28.000,4.0,NaN,86385.0,72.0,"(19.0588295, 72.8322549)",5,49,12,2016
11,5,NaN,-37.0,148.0,19.059525,72.832245,2016-12-10 16:58:13.000,1.0,NaN,86385.0,77.0,"(19.0595253, 72.8322448)",5,49,12,2016
12,6,NaN,-52.0,263.0,19.060018,72.832346,2016-12-10 16:57:58.000,2.0,NaN,86385.0,56.0,"(19.0600175, 72.8323464)",5,49,12,2016
13,7,NaN,-54.0,265.0,19.060070,72.833066,2016-12-10 16:57:43.000,3.0,NaN,86385.0,76.0,"(19.0600698, 72.8330655)",5,49,12,2016
14,5,NaN,-55.0,281.0,19.060056,72.833585,2016-12-10 16:57:28.000,5.0,NaN,86385.0,55.0,"(19.0600564, 72.8335849)",5,49,12,2016
15,5,"[{'timestampMs': '1481389025622', 'activity': ...",-58.0,265.0,19.059970,72.834305,2016-12-10 16:57:13.000,2.0,NaN,86385.0,76.0,"(19.0599704, 72.8343045)",5,49,12,2016
16,5,NaN,-48.0,213.0,19.060181,72.834962,2016-12-10 16:56:58.000,2.0,NaN,86385.0,73.0,"(19.060181, 72.8349619)",5,49,12,2016
17,7,NaN,-59.0,181.0,19.060902,72.835086,2016-12-10 16:56:43.000,6.0,NaN,86385.0,81.0,"(19.0609022, 72.8350858)",5,49,12,2016
18,5,NaN,-58.0,190.0,19.061846,72.835256,2016-12-10 16:56:28.000,3.0,NaN,86385.0,106.0,"(19.0618462, 72.8352556)",5,49,12,2016
19,4,NaN,-57.0,292.0,19.062008,72.835626,2016-12-10 16:56:13.000,5.0,NaN,86385.0,43.0,"(19.062008, 72.8356264)",5,49,12,2016
20,4,NaN,-65.0,290.0,19.061715,72.836123,2016-12-10 16:55:57.000,5.0,NaN,86384.0,62.0,"(19.0617148, 72.8361235)",5,49,12,2016
21,3,NaN,-67.0,290.0,19.061556,72.837002,2016-12-10 16:55:42.000,5.0,NaN,86385.0,94.0,"(19.0615564, 72.8370022)",5,49,12,2016
22,4,NaN,-63.0,185.0,19.061909,72.837316,2016-12-10 16:55:26.000,8.0,NaN,86384.0,51.0,"(19.0619092, 72.837316)",5,49,12,2016
23,3,NaN,-55.0,179.0,19.063097,72.837342,2016-12-10 16:55:11.000,7.0,NaN,86385.0,131.0,"(19.0630968, 72.8373419)",5,49,12,2016
24,15,"[{'timestampMs': '1481388894275', 'activity': ...",-51.0,196.0,19.063696,72.837197,2016-12-10 16:54:56.000,2.0,NaN,86385.0,68.0,"(19.0636955, 72.8371973)",5,49,12,2016
25,3,"[{'timestampMs': '1481388786746', 'activity': ...",-38.0,184.0,19.068395,72.837970,2016-12-10 16:52:09.000,1.0,NaN,86233.0,526.0,"(19.0683946, 72.8379699)",5,49,12,2016
26,25,"[{'timestampMs': '1481388712020', 'activity': ...",NaN,NaN,19.068455,72.837978,2016-12-10 16:51:52.494,NaN,NaN,86383.0,7.0,"(19.0684554, 72.8379777)",5,49,12,2016
27,24,NaN,NaN,NaN,19.068415,72.838024,2016-12-10 16:51:37.296,NaN,NaN,86384.0,7.0,"(19.0684149, 72.8380239)",5,49,12,2016
28,24,"[{'timestampMs': '1481388679817', 'activity': ...",NaN,NaN,19.068397,72.837839,2016-12-10 16:51:21.178,NaN,NaN,86383.0,20.0,"(19.0683973, 72.8378392)",5,49,12,2016
29,24,"[{'timestampMs': '1481388649082', 'activity': ...",NaN,NaN,19.068397,72.837839,2016-12-10 16:50:49.046,NaN,NaN,86367.0,0.0,"(19.0683973, 72.8378392)",5,49,12,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,39,NaN,-56.0,NaN,19.082925,72.837382,2016-01-21 14:54:32.497,0.0,NaN,86380.0,3.0,"(19.0829245, 72.8373816)",3,3,1,2016
2665,45,NaN,NaN,NaN,19.082952,72.837391,2016-01-21 14:53:50.531,NaN,NaN,86358.0,3.0,"(19.0829519, 72.8373908)",3,3,1,2016
2666,12,"[{'timestampMs': '1453388015244', 'activity': ...",NaN,NaN,19.082943,72.837410,2016-01-21 14:53:23.498,NaN,NaN,86372.0,2.0,"(19.0829435, 72.8374104)",3,3,1,2016
2667,13,NaN,NaN,NaN,19.082943,72.837411,2016-01-21 14:53:07.837,NaN,NaN,86384.0,0.0,"(19.0829432, 72.8374109)",3,3,1,2016
2668,16,NaN,NaN,NaN,19.082942,72.837412,2016-01-21 14:52:52.780,NaN,NaN,86384.0,0.0,"(19.0829424, 72.8374122)",3,3,1,2016
2669,21,"[{'timestampMs': '1453387954716', 'activity': ...",NaN,NaN,19.082944,72.837408,2016-01-21 14:52:37.624,NaN,NaN,86384.0,0.0,"(19.0829438, 72.837408)",3,3,1,2016
2670,42,NaN,NaN,NaN,19.082942,72.837408,2016-01-21 14:52:22.159,NaN,NaN,86384.0,0.0,"(19.0829424, 72.837408)",3,3,1,2016
2671,45,NaN,NaN,NaN,19.082938,72.837434,2016-01-21 14:51:25.436,NaN,NaN,86343.0,3.0,"(19.0829378, 72.8374341)",3,3,1,2016
2672,22,"[{'timestampMs': '1453387869589', 'activity': ...",NaN,NaN,19.082945,72.837413,2016-01-21 14:51:02.376,NaN,NaN,86376.0,2.0,"(19.0829447, 72.8374131)",3,3,1,2016
2673,31,NaN,NaN,NaN,19.082950,72.837391,2016-01-21 14:50:42.603,NaN,NaN,86380.0,2.0,"(19.0829502, 72.8373911)",3,3,1,2016
2674,22,NaN,NaN,NaN,19.082949,72.837391,2016-01-21 14:50:25.315,NaN,NaN,86382.0,0.0,"(19.0829492, 72.8373914)",3,3,1,2016
2675,45,"[{'timestampMs': '1453387807608', 'activity': ...",NaN,NaN,19.082948,72.837391,2016-01-21 14:50:02.474,NaN,NaN,86377.0,0.0,"(19.0829484, 72.8373915)",3,3,1,2016
2676,17,NaN,NaN,NaN,19.082938,72.837424,2016-01-21 14:48:44.025,NaN,NaN,86321.0,4.0,"(19.082938, 72.8374245)",3,3,1,2016
2677,21,NaN,NaN,NaN,19.082936,72.837436,2016-01-21 14:48:23.105,NaN,NaN,86379.0,1.0,"(19.0829359, 72.8374364)",3,3,1,2016
2678,45,NaN,NaN,NaN,19.082939,72.837426,2016-01-21 14:48:05.637,NaN,NaN,86382.0,1.0,"(19.0829394, 72.8374264)",3,3,1,2016
2679,42,"[{'timestampMs': '1453387665759', 'activity': ...",NaN,NaN,19.082928,72.837475,2016-01-21 14:47:48.709,NaN,NaN,86383.0,5.0,"(19.0829276, 72.8374747)",3,3,1,2016
2680,23,"[{'timestampMs': '1453387604190', 'activity': ...",NaN,11.0,19.082929,72.837468,2016-01-21 14:47:08.111,NaN,NaN,86359.0,1.0,"(19.0829285, 72.8374683)",3,3,1,2016
2681,40,NaN,NaN,NaN,19.082926,72.837466,2016-01-21 14:46:50.555,NaN,NaN,86382.0,0.0,"(19.0829263, 72.8374656)",3,3,1,2016
2682,18,NaN,NaN,NaN,19.063209,72.834645,2016-01-12 14:05:11.046,NaN,NaN,83900.0,2203.0,"(19.0632088, 72.834645)",1,2,1,2016
2683,37,NaN,NaN,NaN,19.063208,72.834645,2016-01-12 14:04:52.201,NaN,NaN,86381.0,0.0,"(19.0632084, 72.834645)",1,2,1,2016
2684,22,NaN,NaN,NaN,19.082905,72.837541,2016-01-10 15:07:40.664,NaN,NaN,3768.0,2202.0,"(19.0829055, 72.8375411)",6,1,1,2016
2685,45,NaN,NaN,NaN,19.082863,72.837395,2016-01-10 14:21:24.974,NaN,NaN,83624.0,16.0,"(19.0828631, 72.8373951)",6,1,1,2016
2686,11,"[{'timestampMs': '1451827527588', 'activity': ...",-56.0,NaN,19.080583,72.843250,2016-01-03 13:25:29.083,0.0,NaN,83044.0,666.0,"(19.0805832, 72.8432497)",6,53,1,2016
2687,40,NaN,NaN,NaN,19.080418,72.843456,2016-01-03 13:25:13.247,NaN,NaN,86384.0,28.0,"(19.0804182, 72.8434563)",6,53,1,2016
2688,3,NaN,-60.0,154.0,19.085146,72.845909,2016-01-02 23:17:50.732,13.0,NaN,35557.0,584.0,"(19.0851462, 72.8459091)",5,53,1,2016
2689,40,NaN,NaN,NaN,19.086740,72.844886,2016-01-02 23:17:34.794,NaN,NaN,86384.0,207.0,"(19.0867403, 72.8448856)",5,53,1,2016
2690,14,"[{'timestampMs': '1451776351738', 'activity': ...",-66.0,292.0,19.099585,72.872824,2016-01-02 23:12:41.921,7.0,NaN,86107.0,3266.0,"(19.0995854, 72.872824)",5,53,1,2016
2691,28,NaN,NaN,NaN,19.082917,72.837443,2016-01-02 14:29:01.659,NaN,NaN,54979.0,4155.0,"(19.0829169, 72.8374434)",5,53,1,2016
2692,45,"[{'timestampMs': '1451658958850', 'activity': ...",NaN,NaN,19.075008,72.835082,2016-01-01 14:36:07.996,NaN,NaN,426.0,910.0,"(19.0750079, 72.8350822)",4,53,1,2016
2693,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,86381.0,21.0,"(19.0751162, 72.835246)",4,53,1,2016

In [7]:
#generate stay points
# Start processing each row and compare with the previous row's tdiff and geodist# Start p 
# If it fits within tdiff and geodist bounds, consider the point to be a part of the staypoint

# Set the first entry to be the parent SP

df['visit_time'] = 0

parent = 0
location = df['location'][parent] # Location of current parent
visit_time = 0 # Intialising the visit_time
counter = 1 # Number points forming the new staypoint
lat = df['latitude'][parent] # Location of the parent
long = df['longitude'][parent]

for i in tqdm(df.index[1:]):
    
    # Check if the entry's tdiff and geodist fall within constraints
    
    # If yes, add its time to total time at that SP
    if (df['geodist'][i]<=geodist_threshold and df['tdiff'][i]<=tdiff_threshold and geoDist(location, df['location'][i])<=geodist_threshold):
        visit_time += df['tdiff'][i]
        lat += df['latitude'][i] # Summing the location of all points forming the SP
        long += df['longitude'][i]
        counter += 1
        df.drop(i, inplace=True)
    
    # If no, make the parent entry SP and set this to be the parent entry
    else:
        
        if visit_time < visit_threshold:
            df.drop(parent, inplace=True)
            
        else:
            # Set visit time and location of the newly formed SP
            df.loc[parent, 'visit_time'] = visit_time
            lat /= counter
            long /= counter
            df.loc[parent, 'latitude'] = lat
            df.loc[parent, 'longitude'] = long
            df['location'][parent] = (lat,long)
            

        # Set new parent
        parent = i
        lat = df['latitude'][parent]
        long = df['longitude'][parent]
        location = df['location'][parent]
        counter = 1
        visit_time = 0

df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
  0%|                                                                                         | 0/2693 [00:00<?, ?it/s]c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
100%|██████████████████████████████████████████████████████████████████████████████| 2693/2693 [04:56<00:00,  7.95it/s]

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,geodist,location,day,week,month,year,visit_time
index,,,,,,,,,,,,,,,,,
2693,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,86381.0,21.0,"(19.0751162, 72.835246)",4,53,1,2016,0

In [8]:
#re-index generated staypoints
df['index'] = list(range(df.shape[0])) 
df.set_index('index', inplace=True)
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,geodist,location,day,week,month,year,visit_time
index,,,,,,,,,,,,,,,,,
0,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,86381.0,21.0,"(19.0751162, 72.835246)",4,53,1,2016,0

In [9]:
#update tdiff and geodist for staypoints
ts = df['timestamp']
ts[0]
ts1 = ts.shift(periods=1)[1:]
ts2 = ts[1:]
df['tdiff'] = ts1.astype(object).combine(ts2, func=timeDiff)
df['tdiff'][0] = 0

location = df['location']
location1 = location.shift(periods=1)[1:]
location2 = location[1:]

df['geodist'] = location1.astype(object).combine(location2, func=geoDist)
df['geodist'][0] = 0

df['geodist'].value_counts()
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,geodist,location,day,week,month,year,visit_time
index,,,,,,,,,,,,,,,,,
0,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,0.0,0.0,"(19.0751162, 72.835246)",4,53,1,2016,0

In [10]:
# Form clusters
# Takes dataframe of staypoints as parameter and adds a column cluster_id to it
# Uses DBSCAN, param: min_smaples and epsilon
def form_clusters(df, index, epsilon=0.03, min_samples=2):
        
    coords = df.loc[index].as_matrix(columns=['latitude', 'longitude'])
  
    kms_per_radian = 6371.0088
    epsilon = epsilon / kms_per_radian
    db = DBSCAN(eps=epsilon, min_samples=min_samples, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))
    cluster_labels = db.labels_
    num_clusters = len(set(cluster_labels))
  
    df.loc[index,'cluster_id'] = cluster_labels
  
    print('Number of clusters: {}'.format(num_clusters))

In [11]:
# Given lat, long returns a tag
def getTag(lat, long):
    
    # Fetch GMaps API result
    # Returns a list of places along with their details
    results = requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+str(lat)+','+str(long)+'&radius=50&key=AIzaSyBdqlVT2vWz9wu_olDovWYI561da6QtKyk').json()['results']
    tags = []
    
    # Extract the types array from the list of results
    for result in results:
        tags.append(result['types'])
    
    # Cleanse the list of tags
    tags = cleanTags(tags)
    
    if(len(tags)<2): return 'Unknown'
    
    if checkMall(tags): return 'Mall'
    elif checkHospital(tags): return 'Hospital'
    elif checkPark(tags): return 'Park'
    elif checkUniversity(tags): return 'University'
    elif checkSchool(tags): return 'School'
    else: return 'Unknown'

    
def cleanTags(tags):
    unwanted_tags =['point_of_interest', 'establishment', 'route', 'political', 'locality', 'sublocality']
    clean_tags = []
    
    for tag in tags:
        cleaned = [x for x in tag if x not in unwanted_tags]
        if cleaned:
            clean_tags.append(cleaned)
        
    return clean_tags

def checkHospital(tags):
    threshold = 4
    hospital_tags = ['hospital', 'health']
    
    i=0
    for tag in tags:
        filtered_tags = [x for x in tag if x in hospital_tags]
        if filtered_tags:
            i+=len(filtered_tags)
            
    return i>=threshold

def checkMall(tags):
    threshold = 10
    mall_tags = ['store','clothing_store', 'electronics_store', 'home_goods_store', 'shoe_store', 'book_store', 'shopping_mall']
    
    i=0
    for tag in tags:
        filtered_tags = [x for x in tag if x in mall_tags]
        if filtered_tags:
            i+=len(filtered_tags)
            
    return i>=threshold

def checkSchool(tags):
    threshold = 2
    for i in range(threshold):
        if "school" in tags[i]:
            return True    
    return False

def checkUniversity(tags):
    threshold = 2
    for i in range(threshold):
        if "university" in tags[i]:
            return True    
    return False

def checkPark(tags):
    threshold = 2
    for i in range(threshold):
        if ("park" or 'garden') in tags[i]:
            return True    
    return False

In [12]:
#create clusters of staypoints and assign tags to these clusters
df['cluster_id'] = 0
df['tag'] = "Unknown"

for year in df.year.drop_duplicates():
    
    for week in df[df['year']==year].week.drop_duplicates():
        
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        form_clusters(df, temp.index)
        temp = df.loc[ (df['year']==year) & (df['week']==week) ]
        
        if temp.cluster_id.max() >= 1:
        
            # Create a df to reduce the clusters to centroids

            centroids = pd.DataFrame()
            centroids['cluster_id'] = list(range(temp.cluster_id.max()+1)) 
            centroids.set_index('cluster_id', inplace=True)
            centroids['latitude'] = 0.0
            centroids['longitude'] = 0.0
            centroids['week_visit_time'] = 0
            centroids['week_frequency'] = 0
            centroids['tag'] = "Unknown"

            for i in centroids.index:
                rows = temp[temp['cluster_id']==i]
                centroids['latitude'][i] = rows['latitude'].mean()
                centroids['longitude'][i] = rows['longitude'].mean()
                centroids['week_visit_time'][i] = rows['visit_time'].sum()
                centroids['week_frequency'][i] = rows.shape[0]
                centroids['tag'] = 'Unknown'
            
            ## Identify places with max time spent as home and second max as work
            home_id = centroids['week_visit_time'].idxmax()
            t = centroids.drop(home_id)
            work_id = t['week_visit_time'].idxmax()
            print(home_id, work_id)
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==home_id) , 'tag'] = 'Home'
            centroids.loc[home_id, 'tag'] = 'Home'
            df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==work_id) , 'tag'] = 'Work'
            centroids.loc[work_id, 'tag'] = 'Work'
            
            for i in centroids.index:
                if centroids.loc[i,'tag'] == 'Unknown':
                    centroids.loc[i,'tag'] = getTag(centroids.loc[i, 'latitude'], centroids.loc[i, 'longitude'])
                    df.loc[(df['year']==year) & (df['week']==week) & (df['cluster_id']==i), 'tag'] = centroids.loc[i,'tag']
            
            print(centroids)
            home_lat=0
            n=0
                
for i in df.index:
    if df.loc[i, 'tag'] == 'Unknown':
        df.loc[i, 'tag'] = getTag(df.loc[i, 'latitude'], df.loc[i, 'longitude'])
                                                                      
                                                                      
            
df['tag'].value_counts()

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Number of clusters: 1

Unknown    1
Name: tag, dtype: int64

In [13]:
#reducing unknown tags

print(df['tag'].value_counts()) 

dftemp=df.loc[df.tag=='Home',:]
if not dftemp.empty:
    home_lat = dftemp['latitude'].value_counts().index[0]
    home_lon = dftemp['longitude'].value_counts().index[0]

    print(home_lat)
    print(home_lon)

    location = [home_lat, home_lon]
    print(location)

    for i in range (len(df)):
        if df.tag[i] == 'Unknown':
            temp=geopy.distance.VincentyDistance(df['location'][i], location)
            if temp <= 1.0:
                df.tag[i] = 'Home' 
        
    print(df['tag'].value_counts()) 


dftemp=df.loc[df.tag=='Work',:]
if not dftemp.empty:
    work_lat = dftemp['latitude'].value_counts().index[0]
    work_lon = dftemp['longitude'].value_counts().index[0]

    print(work_lat)
    print(work_lon)

    location = [work_lat, work_lon]
    print(location)

    for i in range (len(df)):
        if df.tag[i] == 'Unknown':
            temp=geopy.distance.VincentyDistance(df['location'][i], location)
            if temp <= 1.0:
                df.tag[i] = 'Work' 
        
    print(df['tag'].value_counts())
    

dftemp=df.loc[df.tag=='School',:]
if not dftemp.empty:
    school_lat = dftemp['latitude'].value_counts().index[0]
    school_lon = dftemp['longitude'].value_counts().index[0]

    print(school_lat)
    print(school_lon)

    location = [school_lat, school_lon]
    print(location)

    for i in range (len(df)):
        if df.tag[i] == 'Unknown':
            temp=geopy.distance.VincentyDistance(df['location'][i], location)
            if temp <= 1.0:
                df.tag[i] = 'School' 
        
    print(df['tag'].value_counts()) 


dftemp=df.loc[df.tag=='Park',:]
if not dftemp.empty:
    park_lat = dftemp['latitude'].value_counts().index[0]
    park_lon = dftemp['longitude'].value_counts().index[0]

    print(park_lat)
    print(park_lon)

    location = [park_lat, park_lon]
    print(location)

    for i in range (len(df)):
        if df.tag[i] == 'Unknown':
            temp=geopy.distance.VincentyDistance(df['location'][i], location)
            if temp <= 1.0:
                df.tag[i] = 'Park' 
        
    print(df['tag'].value_counts())

Unknown    1
Name: tag, dtype: int64

In [14]:
gmap = gmplot.GoogleMapPlotter(19.05, 72.8, 16)
tags = ['Home', 'Work', 'Mall', 'University', 'Hospital', 'School', 'Park', 'Unknown']
colors = ['green', 'red', 'blue', 'purple', 'yellow', 'pink', 'white', 'black']

for i in range(len(tags)):
    gmap.scatter(df[df.tag==tags[i]]['latitude'], df[df.tag==tags[i]]['longitude'], colors[i] , marker=True)

gmap.draw('Lxtag16Ar.html')
df.to_csv(filepath+'/Lx2016Ar.csv', index=False)

In [15]:
#adding speed and direction parameters
#replacing tags with integer values
df['tagVal'] = 0
df['speed'] = 0.0
df['direction'] = 0
traTime = 0

tags = ['Home', 'Work', 'Mall', 'University', 'Hospital', 'School', 'Park', 'Unknown']

for i in range(len(df)):
    df.tagVal[i] = tags.index(df.tag[i]) #tag value assigned
    if (i==0):
        continue
    elif(df.loc[i, 'geodist'] > 100):
        #assigning speed value
        traTime = df.tdiff[i] - df.visit_time[i-1]
        df.speed[i] = df.geodist[i]*(1.0)/traTime 
        #assigning direction value
        lat = df.loc[i, 'latitude'] - df.loc[i-1, 'latitude'] 
        long = df.loc[i, 'longitude'] - df.loc[i-1, 'longitude']
        if lat > 0 and long > 0:
            df.loc[i, 'direction'] = 'North-East'
        elif lat > 0 and long < 0: 
            df.loc[i, 'direction'] = 'North-West'
        elif lat > 0 and long == 0:
            df.loc[i, 'direction'] = 'North'
        elif lat < 0 and long > 0:
            df.loc[i, 'direction'] = 'South-East'
        elif lat < 0 and long < 0:
            df.loc[i, 'direction'] = 'South-West'
        elif lat < 0 and long == 0:
            df.loc[i, 'direction'] = 'South'
        elif lat == 0 and long > 0:
            df.loc[i, 'direction'] = 'East'
        elif lat == 0 and long < 0:
            df.loc[i, 'direction'] = 'West'
            
df.to_csv(filepath+'/Lx2016Ar.csv', index=False)
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3325: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,...,day,week,month,year,visit_time,cluster_id,tag,tagVal,speed,direction
index,,,,,,,,,,,,,,,,,,,,,
0,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,0.0,...,4,53,1,2016,0,-1,Unknown,7,0.0,0

In [16]:
#breaking each day into 8 or 3 time intervals
#assigning a mode of transportation based on speed values

df['interval'] = 0
#df['speedVal'] = 0

#for 8 time intervals
for i in range(len(df)):
    hours = df['timestamp'][i].hour
    #hours = int(df.timestamp[i][11] + df.timestamp[i][12])
    if(hours >= 0 and hours <3 ):
        df.interval[i] = 0
    elif(hours >= 3 and hours <6 ):
        df.interval[i] = 1
    elif(hours >= 6 and hours <9 ):
        df.interval[i] = 2
    elif(hours >= 9 and hours <12 ):
        df.interval[i] = 3
    elif(hours >= 12 and hours <15 ):
        df.interval[i] = 4
    elif(hours >= 15 and hours <18 ):
        df.interval[i] = 5
    elif(hours >= 18 and hours <21 ):
        df.interval[i] = 6
    elif(hours >= 21 and hours <=23 ):
        df.interval[i] = 7

#for 3 time intervals
# for i in range(len(df)):
#     hours = df['timestamp'][i].hour
#     if(hours >= 0 and hours <8 ):
#         df.interval[i] = 0
#     elif(hours >= 8 and hours <16 ):
#         df.interval[i] = 1
#     elif(hours >= 16 and hours <=23 ):
#         df.interval[i] = 2
    
# for i in range(len(df)):
#     if(df.speed[i]<=2.22 and df.speed[i]>0):
#         df.speedVal[i] = 0 #walking
#     elif(df.speed[i]>2.22):
#         df.speedVal[i] = 1 #more than walking
#     else:
#         df.speedVal[i] = 2 #stationary

df.to_csv(filepath+'/Lx2016Ar.csv', index=False)
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,...,week,month,year,visit_time,cluster_id,tag,tagVal,speed,direction,interval
index,,,,,,,,,,,,,,,,,,,,,
0,49,NaN,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,0.0,...,53,1,2016,0,-1,Unknown,7,0.0,0,4

In [17]:
df['activity']=0
for i in range(1,len(df)):
    if df.tag[i]=='Mall' and df.loc[i,'tdiff']>120:
        df.loc[i,'activity']='Shopping'
    elif df.tag[i]=='Mall' and df.loc[i,'tdiff']>=60 and df.loc[i,'tdiff']<=120:
            df.loc[i,'activity']='Gaming'
    elif df.tag[i]=='Mall' and df.loc[i,'tdiff']<60:
            df.loc[i,'activity']='Eating'
    
    if df.tag[i]=='University' and df.loc[i,'tdiff']>180:
        df.loc[i,'activity']='Studying'
    elif df.tag[i]=='University' and df.loc[i,'tdiff']<=180:
        df.loc[i,'activity']='Practicals'
    
    if df.tag[i]=='Hospital' and df.loc[i,'tdiff']>240:
        df.loc[i,'activity']='Surgery'
    elif df.tag[i]=='Hospital' and df.loc[i,'tdiff']>30 and df.loc[i,'tdiff']<=240:
        df.loc[i,'activity']='Check-up'
    elif df.tag[i]=='Hospital' and df.loc[i,'tdiff']<30:
        df.loc[i,'activity']='Collecting medicine'
    
    if df.tag[i]=='School' and df.loc[i,'tdiff']>180:
        df.loc[i,'activity']='Studying'
    elif df.tag[i]=='School' and df.loc[i,'tdiff']<=180:
        df.loc[i,'activity']='Practicals'
    
    if df.tag[i]=='Park' and df.loc[i,'tdiff']>=60 and df.loc[i,'tdiff']<=120:
        df.loc[i,'activity']='Walking'
    elif df.tag[i]=='Park' and df.loc[i,'tdiff']>120:
        df.loc[i,'activity']='Leisure and Relaxing'
    elif df.tag[i]=='Park' and df.loc[i,'tdiff']<60:
        df.loc[i,'activity']='Running'

    if df.tag[i]=='Home' and df.loc[i,'tdiff']<=120:
        df.loc[i,'activity']='Chilling'
    elif df.tag[i]=='Home' and df.loc[i,'tdiff']>120:
        df.loc[i,'activity']='Sleeping'
    
df.to_csv(filepath+'/Lx2016Ar.csv', index=False)               
df

c:\users\shruti bhat\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,accuracy,activity,altitude,heading,latitude,longitude,timestamp,velocity,verticalAccuracy,tdiff,...,week,month,year,visit_time,cluster_id,tag,tagVal,speed,direction,interval
index,,,,,,,,,,,,,,,,,,,,,
0,49,0,NaN,NaN,19.075116,72.835246,2016-01-01 14:35:49.643,NaN,NaN,0.0,...,53,1,2016,0,-1,Unknown,7,0.0,0,4

In [54]:
#breaking df into two parts for accuracy testing. second part has data from last week
#all prediction happens on df1 and all accuracy testing happens on df2

lastWeek = int(max(df.week.unique()))
df2 = df.loc[df.week==lastWeek-1,:] #this is the last complete week recorded in the dataset, test set

lastIndex = df2.index[0]
df1 = pd.DataFrame(df)[0:lastIndex].copy(deep=True) #training set

#re-index df2
df2['index'] = list(range(df2.shape[0])) 
df2.set_index('index', inplace=True)
df2

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,year,visit_time,cluster_id,tag,tagVal,speed,direction,interval,speedVal,activity
index,,,,,,,,,,,,,,,,,,,,
0,30,19.054718,72.851962,2018-12-17 01:40:07.143,25691,6,"(19.05471833333333, 72.85196189999999)",0,51,12,2018,304,0,Home,0,0.000000,0,0,2,Sleeping
1,50,19.054714,72.852164,2018-12-17 02:23:50.115,2622,21,"(19.05471402499999, 72.85216434999994)",0,51,12,2018,5775,0,Home,0,0.000000,0,0,2,Sleeping
2,29,19.054751,72.852114,2018-12-17 04:06:25.282,6155,7,"(19.054751169565215, 72.85211353478262)",0,51,12,2018,3392,0,Home,0,0.000000,0,0,2,Sleeping
3,33,19.054728,72.852068,2018-12-17 05:25:53.559,4768,5,"(19.054728131250016, 72.85206769000001)",0,51,12,2018,17146,0,Home,0,0.000000,0,0,2,Sleeping
4,16,19.054746,72.852068,2018-12-17 10:43:25.147,19051,2,"(19.05474639411765, 72.85206801960781)",0,51,12,2018,8738,0,Home,0,0.000000,0,1,2,Sleeping
5,16,19.054944,72.852036,2018-12-17 13:17:43.823,9258,22,"(19.0549438, 72.852036)",0,51,12,2018,1350,0,Home,0,0.000000,0,1,2,Sleeping
6,29,19.054842,72.852069,2018-12-17 14:12:53.562,3309,12,"(19.05484235625, 72.85206860625)",0,51,12,2018,1625,0,Home,0,0.000000,0,1,2,Sleeping
7,16,19.054801,72.852109,2018-12-17 14:42:31.842,1778,6,"(19.05480145384615, 72.85210906153847)",0,51,12,2018,4268,0,Home,0,0.000000,0,1,2,Sleeping
8,47,19.054870,72.851828,2018-12-17 16:15:18.707,5566,31,"(19.0548704, 72.8518283)",0,51,12,2018,441,0,Home,0,0.000000,0,2,2,Sleeping
9,42,19.054833,72.851887,2018-12-17 16:53:04.365,2265,7,"(19.054832750000003, 72.85188734999998)",0,51,12,2018,663,0,Home,0,0.000000,0,2,2,Sleeping
10,33,19.054711,72.852134,2018-12-18 03:04:38.892,36694,29,"(19.054710773728814, 72.85213426440677)",1,51,12,2018,20677,0,Home,0,0.000000,0,0,2,Sleeping
11,42,19.054757,72.851963,2018-12-18 09:25:11.090,22832,19,"(19.054757338461535, 72.85196342307691)",1,51,12,2018,3564,0,Home,0,0.000000,0,1,2,Sleeping
12,26,19.054686,72.852053,2018-12-18 10:25:55.270,3644,12,"(19.054685951898723, 72.85205256708862)",1,51,12,2018,11165,0,Home,0,0.000000,0,1,2,Sleeping
13,39,19.054619,72.852276,2018-12-18 14:04:36.788,13121,25,"(19.054618783333336, 72.85227578333333)",1,51,12,2018,736,0,Home,0,0.000000,0,1,2,Sleeping
14,10,19.054693,72.852074,2018-12-18 14:38:01.000,2004,23,"(19.054692555882358, 72.85207409705885)",1,51,12,2018,5310,0,Home,0,0.000000,0,1,2,Sleeping
15,28,19.054828,72.851864,2018-12-18 16:34:20.017,6979,27,"(19.054827566666663, 72.85186440000003)",1,51,12,2018,4124,0,Home,0,0.000000,0,2,2,Sleeping
16,30,19.054772,72.851978,2018-12-18 22:22:59.860,20919,13,"(19.054771616666667, 72.85197788333333)",1,51,12,2018,1908,0,Home,0,0.000000,0,2,2,Sleeping
17,23,19.054641,72.852111,2018-12-19 02:41:45.339,15525,20,"(19.054641067999995, 72.85211065600001)",2,51,12,2018,7770,0,Home,0,0.000000,0,0,2,Sleeping
18,44,19.054712,72.852013,2018-12-19 05:15:31.615,9226,13,"(19.0547118111111, 72.85201348888899)",2,51,12,2018,16565,0,Home,0,0.000000,0,0,2,Sleeping
19,28,19.054693,72.852039,2018-12-19 10:24:06.749,18515,3,"(19.054692684782616, 72.85203924782613)",2,51,12,2018,9989,0,Home,0,0.000000,0,1,2,Sleeping
20,26,19.054654,72.852068,2018-12-19 13:21:14.242,10627,5,"(19.054653858823528, 72.8520680117647)",2,51,12,2018,2199,0,Home,0,0.000000,0,1,2,Sleeping
21,47,19.054694,72.852041,2018-12-19 14:00:02.136,2327,5,"(19.054693741666664, 72.85204097500001)",2,51,12,2018,1388,0,Home,0,0.000000,0,1,2,Sleeping
22,5,19.063056,72.848343,2018-12-19 15:20:19.000,4816,1004,"(19.06305594, 72.8483432)",2,51,12,2018,697,-1,Unknown,7,0.292882,North-West,1,0,0
23,28,19.054781,72.851960,2018-12-19 15:46:10.293,1551,992,"(19.054780966666666, 72.85196001666667)",2,51,12,2018,671,0,Home,0,1.161593,South-East,1,0,Sleeping
24,44,19.054791,72.851914,2018-12-19 16:52:16.747,3966,5,"(19.05479121666667, 72.8519142)",2,51,12,2018,2355,0,Home,0,0.000000,0,2,2,Sleeping
25,31,19.054711,72.852018,2018-12-19 18:04:29.103,4332,14,"(19.054711140000002, 72.85201796)",2,51,12,2018,916,0,Home,0,0.000000,0,2,2,Sleeping
26,31,19.054738,72.851991,2018-12-20 01:05:04.673,25235,4,"(19.054737999999997, 72.85199090000002)",3,51,12,2018,593,0,Home,0,0.000000,0,0,2,Sleeping
27,30,19.054770,72.851972,2018-12-20 01:38:47.000,2022,4,"(19.05476970526315, 72.85197196842104)",3,51,12,2018,5068,0,Home,0,0.000000,0,0,2,Sleeping
28,50,19.054644,72.852098,2018-12-20 03:35:00.718,6973,19,"(19.054643786363638, 72.85209846363638)",3,51,12,2018,4653,0,Home,0,0.000000,0,0,2,Sleeping
29,31,19.054671,72.852092,2018-12-20 05:28:42.653,6821,3,"(19.05467094117647, 72.85209218823532)",3,51,12,2018,1836,0,Home,0,0.000000,0,0,2,Sleeping
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,26,19.110084,72.837521,2018-12-22 06:26:32.601,3881,5,"(19.110083874999997, 72.83752113749999)",5,51,12,2018,3259,2,Unknown,7,0.000000,0,0,2,0
57,32,19.107209,72.836979,2018-12-22 07:27:14.925,3642,323,"(19.107208933333336, 72.83697858333333)",5,51,12,2018,611,-1,Unknown,7,0.843342,South-West,0,0,0
58,26,19.054642,72.852107,2018-12-22 08:08:06.115,2451,6033,"(19.054641999999998, 72.8521068)",5,51,12,2018,2317,0,Home,0,3.278804,South-East,1,1,Sleeping
59,42,19.054700,72.852084,2018-12-22 08:49:47.462,2501,7,"(19.054699633333332, 72.8520837)",5,51,12,2018,835,0,Home,0,0.000000,0,1,2,Sleeping
60,29,19.012053,72.842204,2018-12-22 09:47:30.904,3463,4834,"(19.012053308333336, 72.84220425833333)",5,51,12,2018,1607,-1,Unknown,7,1.839422,South-West,1,0,0
61,30,19.013176,72.842394,2018-12-22 10:16:25.489,1734,126,"(19.013175575, 72.84239441666668)",5,51,12,2018,1257,-1,Unknown,7,0.992126,North-East,1,0,0
62,27,19.013553,72.842313,2018-12-22 10:39:28.733,1383,43,"(19.013552899999997, 72.84231348888892)",5,51,12,2018,2517,-1,Unknown,7,0.000000,0,1,2,0
63,26,19.013977,72.842548,2018-12-22 11:23:35.761,2647,53,"(19.013976825, 72.842548375)",5,51,12,2018,363,-1,Unknown,7,0.000000,0,1,2,0
64,26,19.014740,72.842744,2018-12-22 11:31:48.928,493,87,"(19.0147403, 72.84274398333334)",5,51,12,2018,449,-1,Unknown,7,0.000000,0,1,2,0
65,28,19.019498,72.842622,2018-12-22 11:59:07.866,1638,527,"(19.019498388888888, 72.84262176666667)",5,51,12,2018,997,-1,Unknown,7,0.443230,North-West,1,0,0
66,29,19.060351,72.852122,2018-12-22 12:44:07.895,2700,4631,"(19.0603515, 72.85212164999999)",5,51,12,2018,647,-1,Home,0,2.719319,North-East,1,1,Sleeping
67,27,19.054661,72.852097,2018-12-22 13:03:02.803,1134,630,"(19.054661145454542, 72.85209696363637)",5,51,12,2018,724,0,Home,0,1.293634,South-West,1,0,Sleeping
68,16,19.054632,72.852110,2018-12-22 13:46:34.671,2611,3,"(19.054632065, 72.85210987500002)",5,51,12,2018,2848,0,Home,0,0.000000,0,1,2,Sleeping
69,31,19.054601,72.852143,2018-12-22 15:01:15.793,4481,5,"(19.0546008, 72.85214283333333)",5,51,12,2018,452,0,Home,0,0.000000,0,1,2,Sleeping
70,47,19.054697,72.851992,2018-12-22 15:28:32.027,1636,19,"(19.05469650909091, 72.8519920090909)",5,51,12,2018,3014,0,Home,0,0.000000,0,1,2,Sleeping
71,26,19.054641,72.852112,2018-12-22 17:19:48.478,6676,14,"(19.054640766666665, 72.85211162222228)",5,51,12,2018,4643,0,Home,0,0.000000,0,2,2,Sleeping
72,16,19.054667,72.852076,2018-12-23 03:01:52.341,34923,5,"(19.054667364367802, 72.852076313793)",6,51,12,2018,17062,0,Home,0,0.000000,0,0,2,Sleeping
73,29,19.086130,72.888480,2018-12-23 08:18:08.207,18975,5178,"(19.086129566666663, 72.88848000476189)",6,51,12,2018,2657,3,Work,1,2.706743,North-East,1,1,0
74,26,19.086582,72.888494,2018-12-23 09:04:38.314,2790,50,"(19.086582125, 72.88849371)",6,51,12,2018,2233,3,Work,1,0.000000,0,1,2,0
75,31,19.086228,72.888666,2018-12-23 09:44:03.263,2364,43,"(19.086228, 72.8886664875)",6,51,12,2018,1743,3,Work,1,0.000000,0,1,2,0
76,29,19.086368,72.889231,2018-12-23 10:15:15.249,1871,61,"(19.08636838, 72.88923102)",6,51,12,2018,489,-1,Unknown,7,0.000000,0,1,2,0
77,30,19.086516,72.889582,2018-12-23 10:25:29.141,613,40,"(19.086516154545453, 72.88958163636364)",6,51,12,2018,1300,4,Unknown,7,0.000000,0,1,2,0
78,26,19.086025,72.888425,2018-12-23 10:56:04.123,1834,133,"(19.086025236363636, 72.88842509696971)",6,51,12,2018,2900,3,Work,1,0.249064,South-West,1,0,0
79,30,19.086492,72.888665,2018-12-23 11:45:03.070,2938,58,"(19.086492275, 72.88866545)",6,51,12,2018,1990,3,Work,1,0.000000,0,1,2,0
80,25,19.087099,72.889141,2018-12-23 12:43:22.881,3499,84,"(19.087098879999996, 72.88914106)",6,51,12,2018,484,-1,Unknown,7,0.000000,0,1,2,0
81,28,19.086569,72.889510,2018-12-23 12:53:30.044,607,70,"(19.086568928571428, 72.88950987142857)",6,51,12,2018,685,4,Unknown,7,0.000000,0,1,2,0
82,31,19.054574,72.852048,2018-12-23 13:49:33.387,3363,5300,"(19.0545738, 72.852048275)",6,51,12,2018,848,0,Home,0,1.979089,South-West,1,0,Sleeping
83,27,19.054653,72.852090,2018-12-23 14:55:49.437,3976,10,"(19.054653397297304, 72.8520898405406)",6,51,12,2018,4467,0,Home,0,0.000000,0,1,2,Sleeping
84,16,19.054719,72.851997,2018-12-23 16:38:15.081,6145,12,"(19.0547187, 72.85199669999999)",6,51,12,2018,601,0,Home,0,0.000000,0,2,2,Sleeping
85,30,19.054775,72.851998,2018-12-23 17:16:58.880,2323,6,"(19.05477455, 72.85199825000001)",6,51,12,2018,752,0,Home,0,0.000000,0,2,2,Sleeping

In [ ]:
#HIDDEN MARKOV MODEL

In [55]:
#lisitng all transition sequences
sequence=[]
i=1
while (i < (len(df1)-1)):
    a=[]
    a.append(df1.tagVal[i-1])
    flag=0
    while(df1.tagVal[i]!=df1.tagVal[i-1]):
        a.append(df1.tagVal[i])
        flag=1
        i=i+1
        if(i==len(df1)):
            break
    sequence.append(a)
    if flag == 0:
        i=i+1

sequence

[[7],
 [7, 1],
 [1],
 [1, 7, 1, 7, 1, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1, 0, 1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1, 0, 1, 0],
 [0],
 [0],
 [0, 1, 7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1, 0],
 [0],
 [0, 1, 0, 1, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0, 1],
 [1],
 [1, 0, 7, 0, 7, 0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0, 1, 0, 1],
 [1],
 [1],
 [1, 0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0, 1, 0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 7, 0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 7, 0],
 [0],
 [0],
 [0, 1, 0, 7, 0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 7, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0, 1, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 1, 0, 1],
 [1],
 [1],
 [1, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0, 1],
 [1],
 [1, 7, 1],
 [1],
 [1, 0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 7],
 [7],
 [7, 1, 0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7],
 [7, 1],
 [1],
 [1],
 [1, 7, 0],
 [0],
 [0, 7],
 [7],
 [7, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 7],
 [7],
 [7],
 [7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0, 1, 7, 1],
 [1],
 [1],
 [1, 7],
 [7],
 [7],
 [7, 2],
 [2],
 [2, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0, 7, 0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 7, 0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1, 0, 7],
 [7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7],
 [7],
 [7, 1, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7],
 [7],
 [7, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1, 7],
 [7],
 [7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0, 7],
 [7],
 [7, 1],
 [1],
 [1, 0],
 [0],
 [0, 1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1, 0, 1],
 [1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1, 0, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 1],
 [1],
 [1, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7, 1, 3, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 3, 1, 3, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0, 7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7, 1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1],
 [1],
 [1],
 [1, 0],
 [0],
 [0],
 [0],
 [0, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 7],
 [7],
 [7, 0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0, 1, 0],
 [0],
 [0],
 ...]

In [56]:
#filtering sequences to transitions between different places
new_seq=[]
for i in range(len(sequence)):
    if(len(sequence[i])>1):
        new_seq.append(sequence[i])

new_seq

[[7, 1],
 [1, 7, 1, 7, 1, 7, 0],
 [0, 7, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1, 0],
 [0, 1, 7, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1, 7, 1, 0],
 [0, 1, 0, 1, 7],
 [7, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1, 7, 1, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0, 7, 0, 7, 0],
 [0, 7, 0],
 [0, 1, 0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 7, 0],
 [0, 1, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1, 7, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0, 7, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0],
 [0, 7, 0],
 [0, 7, 0],
 [0, 1, 0],
 [0, 7, 0],
 [0, 1],
 [1, 7, 0],
 [0, 1, 0, 7, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 0],
 [0, 1],
 [1, 7, 1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1, 7],
 [7, 1, 0, 1],
 [1, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 7],
 [7, 0, 1],
 [1, 7, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 1, 0],
 [0, 7],
 [7, 1],
 [1, 7, 0],
 [0, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 1],
 [1, 0],
 [0, 7, 0],
 [0, 1, 7, 1],
 [1, 7],
 [7, 2],
 [2, 7],
 [7, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0],
 [0, 1],
 [1, 0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 7],
 [7, 1, 7, 0],
 [0, 1, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 7, 1, 0],
 [0, 1, 7, 1],
 [1, 0],
 [0, 1, 7],
 [7, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 7, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 1],
 [1, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 7],
 [7, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 7, 1, 3, 0],
 [0, 7],
 [7, 0],
 [0, 3, 1, 3, 0],
 [0, 7],
 [7, 0],
 [0, 7, 0],
 [0, 1, 7, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1, 7],
 [7, 0],
 [0, 1, 0],
 [0, 1, 0, 7],
 [7, 0],
 [0, 1],
 [1, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1, 7, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0],
 [0, 1],
 [1, 0, 7],
 [7, 1],
 [1, 0, 7, 1],
 [1, 7],
 [7, 0],
 [0, 1, 0],
 [0, 7, 0],
 [0, 1, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0, 1, 0],
 [0, 7],
 [7, 0],
 [0, 7, 0, 7, 0],
 [0, 7, 0],
 [0, 1, 0],
 [0, 1, 0, 1],
 [1, 7, 0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1, 0],
 [0, 1, 7],
 [7, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 1, 0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 1, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 7, 0, 1, 0],
 [0, 1, 0],
 [0, 1, 0],
 [0, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0, 1, 0, 1],
 [1, 0, 1],
 [1, 0, 1],
 [1, 0, 1, 7],
 [7, 0, 1],
 [1, 0],
 [0, 7, 0, 1, 0, 1, 0, 1, 0],
 [0, 7, 0, 1, 0, 1],
 [1, 0],
 [0, 3, 0, 7, 0, 1, 0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1, 7, 1],
 [1, 0],
 [0, 1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 0, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 7],
 [7, 1],
 [1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0],
 [0, 7],
 [7, 0],
 [0, 1, 7],
 [7, 0, 1, 0],
 [0, 1, 0],
 [0, 1, 0],
 [0, 7, 0, 7],
 [7, 1, 0, 1],
 [1, 0],
 [0, 7, 0, 7, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1, 0, 1, 7, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 7, 0, 1, 0],
 [0, 7],
 [7, 0, 1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0, 1],
 [1, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0],
 [0, 1],
 [1, 7],
 [7, 1, 7, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 7, 0, 1, 7],
 [7, 1],
 [1, 7],
 [7, 1],
 [1, 0, 7, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0, 1, 7, 1],
 [1, 0, 7, 1, 0, 7],
 [7, 1],
 [1, 0, 7],
 [7, 1],
 [1, 0, 1],
 [1, 7],
 [7, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0, 7, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1],
 [1, 0],
 [0, 7, 0, 1],
 [1, 0],
 [0, 1],
 [1, 0, 1, 0, 7],
 [7, 1, 0, 1],
 [1, 0, 1],
 [1, 7],
 [7, 1],
 [1, 7],
 [7, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0, 1, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7, 1],
 [1, 0],
 [0, 1],
 [1, 0, 7, 0, 1],
 [1, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 7, 1, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 1],
 [1, 0],
 [0, 7, 1, 7],
 [7, 1],
 [1, 0],
 [0, 1],
 [1, 7, 0],
 [0, 7],
 [7, 0],
 [0, 1, 7, 0],
 [0, 1],
 [1, 0],
 [0, 1, 0],
 [0, 1],
 [1, 7],
 [7, 0],
 [0, 1, 7, 1, 7],
 [7, 1, 7, 0, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 7, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 0],
 [0, 7],
 [7, 1],
 [1, 7],
 [7, 0]]

In [57]:
#generating transition probability matrix
tags = ['Home', 'Work', 'Mall', 'University', 'Hospital', 'School', 'Park', 'Unknown']
transition = np.zeros(shape=(len(tags),len(tags)))
for seq in new_seq:
    for i in range(len(seq)-1):
        transition[seq[i]][seq[i+1]]=transition[seq[i]][seq[i+1]]+1

for i in range(len(tags)):
    sumt=sum(transition[i][0:len(tags)])
    for j in range(len(tags)):
        if(sumt == 0):
            transition[i][j] = 1.0/len(tags)
        else:
            transition[i][j]=(transition[i][j]*1.0)/sumt

transition

array([[0.        , 0.70381232, 0.        , 0.0058651 , 0.        ,
        0.        , 0.        , 0.29032258],
       [0.74666667, 0.        , 0.        , 0.00666667, 0.        ,
        0.        , 0.        , 0.24666667],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        ],
       [0.75      , 0.25      , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.125     , 0.125     , 0.125     , 0.125     , 0.125     ,
        0.125     , 0.125     , 0.125     ],
       [0.125     , 0.125     , 0.125     , 0.125     , 0.125     ,
        0.125     , 0.125     , 0.125     ],
       [0.125     , 0.125     , 0.125     , 0.125     , 0.125     ,
        0.125     , 0.125     , 0.125     ],
       [0.65714286, 0.33714286, 0.00571429, 0.        , 0.        ,
        0.        , 0.        , 0.        ]])

In [58]:
#generating initial probability matrix
initial=[0]*len(tags)
for seq in new_seq:
    first=seq[0]
    initial[first]+=1

sumi = sum(initial)

for i in range (len(initial)):
    initial[i] = (initial[i]*1.0)/sumi

initial

[0.4700374531835206,
 0.36142322097378277,
 0.0018726591760299626,
 0.0,
 0.0,
 0.0,
 0.0,
 0.16666666666666666]

In [61]:
#intializing paramVal. this column will have the value of the group in which this cluster falls
#classifying each staypoint into an interval

pValuesArr = np.zeros(shape=(7,3)) #7 days, 8 intervals
#pValuesArrSpeed = np.zeros(shape=(56,3)) #56 intervals, 3 speed types
count = 0
df1['paramVal'] = 0
df2['paramVal'] = 0
# df1['paramValSpeed'] = 0
# df2['paramValSpeed'] = 0


#for intervals
for i in range(7):
    for j in range(3):
        pValuesArr[i][j] = count
        count = count+1

for i in range(len(df1)):
    df1.paramVal[i] = pValuesArr[df1.day[i]][df1.interval[i]]
    
for i in range(len(df2)):
    df2.paramVal[i] = pValuesArr[df2.day[i]][df2.interval[i]]

    

#for intervals + speed
# count = 0
# for i in range(56):
#     for j in range(3):
#         pValuesArrSpeed[i][j] = count 
#         count = count+1

# for i in range(len(df1)):
#     df1.paramValSpeed[i] = pValuesArrSpeed[df1.paramVal[i]][df1.speedVal[i]]
    
# for i in range(1936,2043):
#     df2.paramValSpeed[i] = pValuesArrSpeed[df2.paramVal[i]][df2.speedVal[i]]

# for i in range(1889,2043):
#     df2.paramValSpeed[i] = pValuesArrSpeed[df2.paramVal[i]][df2.speedVal[i]]
                
# print(pValuesArrSpeed)
df2

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,accuracy,latitude,longitude,timestamp,tdiff,geodist,location,day,week,month,...,visit_time,cluster_id,tag,tagVal,speed,direction,interval,speedVal,activity,paramVal
index,,,,,,,,,,,,,,,,,,,,,
0,30,19.054718,72.851962,2018-12-17 01:40:07.143,25691,6,"(19.05471833333333, 72.85196189999999)",0,51,12,...,304,0,Home,0,0.000000,0,0,2,Sleeping,0
1,50,19.054714,72.852164,2018-12-17 02:23:50.115,2622,21,"(19.05471402499999, 72.85216434999994)",0,51,12,...,5775,0,Home,0,0.000000,0,0,2,Sleeping,0
2,29,19.054751,72.852114,2018-12-17 04:06:25.282,6155,7,"(19.054751169565215, 72.85211353478262)",0,51,12,...,3392,0,Home,0,0.000000,0,0,2,Sleeping,0
3,33,19.054728,72.852068,2018-12-17 05:25:53.559,4768,5,"(19.054728131250016, 72.85206769000001)",0,51,12,...,17146,0,Home,0,0.000000,0,0,2,Sleeping,0
4,16,19.054746,72.852068,2018-12-17 10:43:25.147,19051,2,"(19.05474639411765, 72.85206801960781)",0,51,12,...,8738,0,Home,0,0.000000,0,1,2,Sleeping,1
5,16,19.054944,72.852036,2018-12-17 13:17:43.823,9258,22,"(19.0549438, 72.852036)",0,51,12,...,1350,0,Home,0,0.000000,0,1,2,Sleeping,1
6,29,19.054842,72.852069,2018-12-17 14:12:53.562,3309,12,"(19.05484235625, 72.85206860625)",0,51,12,...,1625,0,Home,0,0.000000,0,1,2,Sleeping,1
7,16,19.054801,72.852109,2018-12-17 14:42:31.842,1778,6,"(19.05480145384615, 72.85210906153847)",0,51,12,...,4268,0,Home,0,0.000000,0,1,2,Sleeping,1
8,47,19.054870,72.851828,2018-12-17 16:15:18.707,5566,31,"(19.0548704, 72.8518283)",0,51,12,...,441,0,Home,0,0.000000,0,2,2,Sleeping,2
9,42,19.054833,72.851887,2018-12-17 16:53:04.365,2265,7,"(19.054832750000003, 72.85188734999998)",0,51,12,...,663,0,Home,0,0.000000,0,2,2,Sleeping,2
10,33,19.054711,72.852134,2018-12-18 03:04:38.892,36694,29,"(19.054710773728814, 72.85213426440677)",1,51,12,...,20677,0,Home,0,0.000000,0,0,2,Sleeping,3
11,42,19.054757,72.851963,2018-12-18 09:25:11.090,22832,19,"(19.054757338461535, 72.85196342307691)",1,51,12,...,3564,0,Home,0,0.000000,0,1,2,Sleeping,4
12,26,19.054686,72.852053,2018-12-18 10:25:55.270,3644,12,"(19.054685951898723, 72.85205256708862)",1,51,12,...,11165,0,Home,0,0.000000,0,1,2,Sleeping,4
13,39,19.054619,72.852276,2018-12-18 14:04:36.788,13121,25,"(19.054618783333336, 72.85227578333333)",1,51,12,...,736,0,Home,0,0.000000,0,1,2,Sleeping,4
14,10,19.054693,72.852074,2018-12-18 14:38:01.000,2004,23,"(19.054692555882358, 72.85207409705885)",1,51,12,...,5310,0,Home,0,0.000000,0,1,2,Sleeping,4
15,28,19.054828,72.851864,2018-12-18 16:34:20.017,6979,27,"(19.054827566666663, 72.85186440000003)",1,51,12,...,4124,0,Home,0,0.000000,0,2,2,Sleeping,5
16,30,19.054772,72.851978,2018-12-18 22:22:59.860,20919,13,"(19.054771616666667, 72.85197788333333)",1,51,12,...,1908,0,Home,0,0.000000,0,2,2,Sleeping,5
17,23,19.054641,72.852111,2018-12-19 02:41:45.339,15525,20,"(19.054641067999995, 72.85211065600001)",2,51,12,...,7770,0,Home,0,0.000000,0,0,2,Sleeping,6
18,44,19.054712,72.852013,2018-12-19 05:15:31.615,9226,13,"(19.0547118111111, 72.85201348888899)",2,51,12,...,16565,0,Home,0,0.000000,0,0,2,Sleeping,6
19,28,19.054693,72.852039,2018-12-19 10:24:06.749,18515,3,"(19.054692684782616, 72.85203924782613)",2,51,12,...,9989,0,Home,0,0.000000,0,1,2,Sleeping,7
20,26,19.054654,72.852068,2018-12-19 13:21:14.242,10627,5,"(19.054653858823528, 72.8520680117647)",2,51,12,...,2199,0,Home,0,0.000000,0,1,2,Sleeping,7
21,47,19.054694,72.852041,2018-12-19 14:00:02.136,2327,5,"(19.054693741666664, 72.85204097500001)",2,51,12,...,1388,0,Home,0,0.000000,0,1,2,Sleeping,7
22,5,19.063056,72.848343,2018-12-19 15:20:19.000,4816,1004,"(19.06305594, 72.8483432)",2,51,12,...,697,-1,Unknown,7,0.292882,North-West,1,0,0,7
23,28,19.054781,72.851960,2018-12-19 15:46:10.293,1551,992,"(19.054780966666666, 72.85196001666667)",2,51,12,...,671,0,Home,0,1.161593,South-East,1,0,Sleeping,7
24,44,19.054791,72.851914,2018-12-19 16:52:16.747,3966,5,"(19.05479121666667, 72.8519142)",2,51,12,...,2355,0,Home,0,0.000000,0,2,2,Sleeping,8
25,31,19.054711,72.852018,2018-12-19 18:04:29.103,4332,14,"(19.054711140000002, 72.85201796)",2,51,12,...,916,0,Home,0,0.000000,0,2,2,Sleeping,8
26,31,19.054738,72.851991,2018-12-20 01:05:04.673,25235,4,"(19.054737999999997, 72.85199090000002)",3,51,12,...,593,0,Home,0,0.000000,0,0,2,Sleeping,9
27,30,19.054770,72.851972,2018-12-20 01:38:47.000,2022,4,"(19.05476970526315, 72.85197196842104)",3,51,12,...,5068,0,Home,0,0.000000,0,0,2,Sleeping,9
28,50,19.054644,72.852098,2018-12-20 03:35:00.718,6973,19,"(19.054643786363638, 72.85209846363638)",3,51,12,...,4653,0,Home,0,0.000000,0,0,2,Sleeping,9
29,31,19.054671,72.852092,2018-12-20 05:28:42.653,6821,3,"(19.05467094117647, 72.85209218823532)",3,51,12,...,1836,0,Home,0,0.000000,0,0,2,Sleeping,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,26,19.110084,72.837521,2018-12-22 06:26:32.601,3881,5,"(19.110083874999997, 72.83752113749999)",5,51,12,...,3259,2,Unknown,7,0.000000,0,0,2,0,15
57,32,19.107209,72.836979,2018-12-22 07:27:14.925,3642,323,"(19.107208933333336, 72.83697858333333)",5,51,12,...,611,-1,Unknown,7,0.843342,South-West,0,0,0,15
58,26,19.054642,72.852107,2018-12-22 08:08:06.115,2451,6033,"(19.054641999999998, 72.8521068)",5,51,12,...,2317,0,Home,0,3.278804,South-East,1,1,Sleeping,16
59,42,19.054700,72.852084,2018-12-22 08:49:47.462,2501,7,"(19.054699633333332, 72.8520837)",5,51,12,...,835,0,Home,0,0.000000,0,1,2,Sleeping,16
60,29,19.012053,72.842204,2018-12-22 09:47:30.904,3463,4834,"(19.012053308333336, 72.84220425833333)",5,51,12,...,1607,-1,Unknown,7,1.839422,South-West,1,0,0,16
61,30,19.013176,72.842394,2018-12-22 10:16:25.489,1734,126,"(19.013175575, 72.84239441666668)",5,51,12,...,1257,-1,Unknown,7,0.992126,North-East,1,0,0,16
62,27,19.013553,72.842313,2018-12-22 10:39:28.733,1383,43,"(19.013552899999997, 72.84231348888892)",5,51,12,...,2517,-1,Unknown,7,0.000000,0,1,2,0,16
63,26,19.013977,72.842548,2018-12-22 11:23:35.761,2647,53,"(19.013976825, 72.842548375)",5,51,12,...,363,-1,Unknown,7,0.000000,0,1,2,0,16
64,26,19.014740,72.842744,2018-12-22 11:31:48.928,493,87,"(19.0147403, 72.84274398333334)",5,51,12,...,449,-1,Unknown,7,0.000000,0,1,2,0,16
65,28,19.019498,72.842622,2018-12-22 11:59:07.866,1638,527,"(19.019498388888888, 72.84262176666667)",5,51,12,...,997,-1,Unknown,7,0.443230,North-West,1,0,0,16
66,29,19.060351,72.852122,2018-12-22 12:44:07.895,2700,4631,"(19.0603515, 72.85212164999999)",5,51,12,...,647,-1,Home,0,2.719319,North-East,1,1,Sleeping,16
67,27,19.054661,72.852097,2018-12-22 13:03:02.803,1134,630,"(19.054661145454542, 72.85209696363637)",5,51,12,...,724,0,Home,0,1.293634,South-West,1,0,Sleeping,16
68,16,19.054632,72.852110,2018-12-22 13:46:34.671,2611,3,"(19.054632065, 72.85210987500002)",5,51,12,...,2848,0,Home,0,0.000000,0,1,2,Sleeping,16
69,31,19.054601,72.852143,2018-12-22 15:01:15.793,4481,5,"(19.0546008, 72.85214283333333)",5,51,12,...,452,0,Home,0,0.000000,0,1,2,Sleeping,16
70,47,19.054697,72.851992,2018-12-22 15:28:32.027,1636,19,"(19.05469650909091, 72.8519920090909)",5,51,12,...,3014,0,Home,0,0.000000,0,1,2,Sleeping,16
71,26,19.054641,72.852112,2018-12-22 17:19:48.478,6676,14,"(19.054640766666665, 72.85211162222228)",5,51,12,...,4643,0,Home,0,0.000000,0,2,2,Sleeping,17
72,16,19.054667,72.852076,2018-12-23 03:01:52.341,34923,5,"(19.054667364367802, 72.852076313793)",6,51,12,...,17062,0,Home,0,0.000000,0,0,2,Sleeping,18
73,29,19.086130,72.888480,2018-12-23 08:18:08.207,18975,5178,"(19.086129566666663, 72.88848000476189)",6,51,12,...,2657,3,Work,1,2.706743,North-East,1,1,0,19
74,26,19.086582,72.888494,2018-12-23 09:04:38.314,2790,50,"(19.086582125, 72.88849371)",6,51,12,...,2233,3,Work,1,0.000000,0,1,2,0,19
75,31,19.086228,72.888666,2018-12-23 09:44:03.263,2364,43,"(19.086228, 72.8886664875)",6,51,12,...,1743,3,Work,1,0.000000,0,1,2,0,19
76,29,19.086368,72.889231,2018-12-23 10:15:15.249,1871,61,"(19.08636838, 72.88923102)",6,51,12,...,489,-1,Unknown,7,0.000000,0,1,2,0,19
77,30,19.086516,72.889582,2018-12-23 10:25:29.141,613,40,"(19.086516154545453, 72.88958163636364)",6,51,12,...,1300,4,Unknown,7,0.000000,0,1,2,0,19
78,26,19.086025,72.888425,2018-12-23 10:56:04.123,1834,133,"(19.086025236363636, 72.88842509696971)",6,51,12,...,2900,3,Work,1,0.249064,South-West,1,0,0,19
79,30,19.086492,72.888665,2018-12-23 11:45:03.070,2938,58,"(19.086492275, 72.88866545)",6,51,12,...,1990,3,Work,1,0.000000,0,1,2,0,19
80,25,19.087099,72.889141,2018-12-23 12:43:22.881,3499,84,"(19.087098879999996, 72.88914106)",6,51,12,...,484,-1,Unknown,7,0.000000,0,1,2,0,19
81,28,19.086569,72.889510,2018-12-23 12:53:30.044,607,70,"(19.086568928571428, 72.88950987142857)",6,51,12,...,685,4,Unknown,7,0.000000,0,1,2,0,19
82,31,19.054574,72.852048,2018-12-23 13:49:33.387,3363,5300,"(19.0545738, 72.852048275)",6,51,12,...,848,0,Home,0,1.979089,South-West,1,0,Sleeping,19
83,27,19.054653,72.852090,2018-12-23 14:55:49.437,3976,10,"(19.054653397297304, 72.8520898405406)",6,51,12,...,4467,0,Home,0,0.000000,0,1,2,Sleeping,19
84,16,19.054719,72.851997,2018-12-23 16:38:15.081,6145,12,"(19.0547187, 72.85199669999999)",6,51,12,...,601,0,Home,0,0.000000,0,2,2,Sleeping,20
85,30,19.054775,72.851998,2018-12-23 17:16:58.880,2323,6,"(19.05477455, 72.85199825000001)",6,51,12,...,752,0,Home,0,0.000000,0,2,2,Sleeping,20

In [67]:
#generating emission probability matrix
df1['paramVal'] = df1['interval'] #this column will have the value of the group in which this cluster falls
df2['paramVal'] = df2['interval']

emission=np.zeros(shape=(len(tags),3))
sume = 1

for i in range (len(tags)):
    dftemp=df1.loc[df1.tagVal==i,:]
    for j in range (3):
        emission[i][j]=len(dftemp.loc[dftemp.paramVal==j,:])
        
for i in range (len(tags)):
    sume = sum(emission[i][0:len(tags)])
    if sume == 0:
        sume = 1
    for j in range (3):
        emission[i][j]=(emission[i][j]*1.0)/sume
        
emission

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

array([[0.37855845, 0.44033919, 0.18110236],
       [0.39646465, 0.45707071, 0.14646465],
       [0.        , 1.        , 0.        ],
       [0.75      , 0.25      , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        ],
       [0.25107296, 0.6695279 , 0.07939914]])

In [68]:
#of accuracy testing dataframe (single week)
array = df2.paramVal.unique()
array.sort()
array

array([0, 1, 2])

In [43]:
#import hmm libraries
from hmmlearn import hmm

In [69]:
#implement multinomialhmm
model = hmm.MultinomialHMM(n_components=8)
model.startprob_ = initial
model.transmat_ = transition
model.emissionprob_ = emission

logprob, seq = model.decode(np.array([array]).transpose()) 
#logprob, seq = model.decode(np.array([[11]]).transpose())
print(math.exp(logprob))
print(seq)

0.00774027763961213
[0 1 0]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/hmmlearn/hmm.py:412: RuntimeWarning: divide by zero encountered in log
  return np.log(self.emissionprob_)[:, np.concatenate(X)].T

In [70]:
#final accuracy calculation
count=0
for i in range(len(seq)):
    dftemp=df2.loc[df2.tagVal==seq[i],:]
    for j in range (len(dftemp)):
        if(len(dftemp.loc[dftemp.paramVal==array[i]])>0):
            #print(len(dftemp.loc[dftemp.paramVal==array[i]]))
            #print(i)
            count=count+1
            break
# dftemp=df1.loc[df1.tagVal==seq[0],:]
# len(dftemp.loc[dftemp.paramVal==2])
accuracy = count*(1.0)/len(array)
print()
print(count)
print(accuracy)
#df2.loc[df2.tagVal==seq[2],:]

3
1.0

In [46]:
seqOfLocations = []
dfresults = pd.DataFrame()
dfresults['interval'] = array

for i in range (len(seq)):
    dfresults['interval'][i] = 'Day: '
    dfresults['interval'][i] = dfresults['interval'][i] + str(int(array[i]/8))
    dfresults['interval'][i] = dfresults['interval'][i] + ', Interval: '
    dfresults['interval'][i] = dfresults['interval'][i] + str(int(array[i]%8))

# for i in range (len(seq)):
#     dfresults['interval'][i] = 'Interval: '
#     dfresults['interval'][i] = dfresults['interval'][i] + str(int(array[i]))

for i in range(len(seq)):
    seqOfLocations.append(tags[seq[i]])
    
dfresults['location'] = seqOfLocations
print("The predicted sequence is:")
print(dfresults)
print()
print("The accuracy of the sequence is:")
print(accuracy*100)
dfresults

The predicted sequence is:
               interval location
0   Day: 0, Interval: 0     Home
1   Day: 0, Interval: 1     Work
2   Day: 0, Interval: 3     Home
3   Day: 0, Interval: 4     Work
4   Day: 0, Interval: 5     Home
5   Day: 1, Interval: 1     Work
6   Day: 1, Interval: 3     Home
7   Day: 1, Interval: 4     Work
8   Day: 1, Interval: 5     Home
9   Day: 1, Interval: 7     Work
10  Day: 2, Interval: 0     Home
11  Day: 2, Interval: 1     Work
12  Day: 2, Interval: 3     Home
13  Day: 2, Interval: 4     Work
14  Day: 2, Interval: 5     Home
15  Day: 2, Interval: 6     Work
16  Day: 3, Interval: 0     Home
17  Day: 3, Interval: 1     Work
18  Day: 3, Interval: 2     Home
19  Day: 3, Interval: 3     Work
20  Day: 3, Interval: 4     Home
21  Day: 4, Interval: 0     Work
22  Day: 4, Interval: 1     Home
23  Day: 4, Interval: 2     Work
24  Day: 4, Interval: 3     Home
25  Day: 4, Interval: 4     Work
26  Day: 4, Interval: 5     Home
27  Day: 5, Interval: 0     Work
28  Day: 5, Interval: 1     Home
29  Day: 5, Interval: 2     Work
30  Day: 5, Interval: 3     Home
31  Day: 5, Interval: 4     Work
32  Day: 5, Interval: 5     Home
33  Day: 6, Interval: 1     Work
34  Day: 6, Interval: 2     Home
35  Day: 6, Interval: 3  Unknown
36  Day: 6, Interval: 4     Home
37  Day: 6, Interval: 5     Work

The accuracy of the sequence is:
47.368421052631575

               interval location
0   Day: 0, Interval: 0     Home
1   Day: 0, Interval: 1     Work
2   Day: 0, Interval: 3     Home
3   Day: 0, Interval: 4     Work
4   Day: 0, Interval: 5     Home
5   Day: 1, Interval: 1     Work
6   Day: 1, Interval: 3     Home
7   Day: 1, Interval: 4     Work
8   Day: 1, Interval: 5     Home
9   Day: 1, Interval: 7     Work
10  Day: 2, Interval: 0     Home
11  Day: 2, Interval: 1     Work
12  Day: 2, Interval: 3     Home
13  Day: 2, Interval: 4     Work
14  Day: 2, Interval: 5     Home
15  Day: 2, Interval: 6     Work
16  Day: 3, Interval: 0     Home
17  Day: 3, Interval: 1     Work
18  Day: 3, Interval: 2     Home
19  Day: 3, Interval: 3     Work
20  Day: 3, Interval: 4     Home
21  Day: 4, Interval: 0     Work
22  Day: 4, Interval: 1     Home
23  Day: 4, Interval: 2     Work
24  Day: 4, Interval: 3     Home
25  Day: 4, Interval: 4     Work
26  Day: 4, Interval: 5     Home
27  Day: 5, Interval: 0     Work
28  Day: 5, Interval: 1     Home
29  Day: 5, Interval: 2     Work
30  Day: 5, Interval: 3     Home
31  Day: 5, Interval: 4     Work
32  Day: 5, Interval: 5     Home
33  Day: 6, Interval: 1     Work
34  Day: 6, Interval: 2     Home
35  Day: 6, Interval: 3  Unknown
36  Day: 6, Interval: 4     Home
37  Day: 6, Interval: 5     Work

In [ ]:
#LSTM

In [6]:
import tensorflow as tf
print ("TensorFlow version: " + tf.__version__)

TensorFlow version: 1.13.1

In [7]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.models import model_from_json
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

Using TensorFlow backend.

In [8]:
# fix random seed for reproducibility
np.random.seed(7)

In [18]:
# load the dataset
dataframe = pd.DataFrame()
dataframe['tagVal'] = df1['tagVal']
dataset = dataframe.values
dataset = dataset.astype('float32')

dataframe1 = pd.DataFrame()
dataframe1['tagVal'] = df2['tagVal']
dataset1 = dataframe1.values
dataset1 = dataset1.astype('float32')
dataframe

      tagVal
0          7
1          7
2          1
3          1
4          1
5          1
6          1
7          0
8          0
9          0
10         0
11         0
12         0
13         0
14         0
15         0
16         0
17         0
18         0
19         0
20         0
21         0
22         0
23         0
24         0
25         0
26         0
27         0
28         0
29         0
...      ...
3464       0
3465       0
3466       0
3467       0
3468       0
3469       0
3470       0
3471       0
3472       0
3473       0
3474       1
3475       1
3476       1
3477       0
3478       1
3479       1
3480       1
3481       0
3482       0
3483       0
3484       0
3485       0
3486       0
3487       0
3488       0
3489       1
3490       1
3491       1
3492       1
3493       1

[3494 rows x 1 columns]

In [19]:
# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
dataset = scaler.fit_transform(dataset)
dataset1 = scaler.fit_transform(dataset1)

In [20]:
# split into train and test sets
train_size = int(len(dataset))
test_size = len(dataset1)
train, test = dataset, dataset1
print(len(train), len(test))

3494 235

In [21]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), 0]
        dataX.append(a)
        dataY.append(dataset[i + look_back, 0])
    return np.array(dataX), np.array(dataY)

In [22]:
# reshape into X=t and Y=t+1
look_back = 1
trainX, trainY = create_dataset(train, look_back)
testX, testY = create_dataset(test, look_back)

In [23]:
# reshape input to be [samples, time steps, features]
trainX = np.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))
testX = np.reshape(testX, (testX.shape[0], 1, testX.shape[1]))

In [24]:
# create and fit the LSTM network
import time
start_time = time.time()

model = Sequential()
model.add(LSTM(4, input_shape=(1, look_back)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
model.fit(trainX, trainY, epochs=50, batch_size=1, verbose=2)

print("--- %s seconds ---" % (time.time() - start_time))

WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
 - 9s - loss: 0.0450 - acc: 0.7191
Epoch 2/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 3/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 4/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 5/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 6/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 7/50
 - 8s - loss: 0.0413 - acc: 0.7340
Epoch 8/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 9/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 10/50
 - 9s - loss: 0.0412 - acc: 0.7340
Epoch 11/50
 - 9s - loss: 0.0412 - acc: 0.7340
Epoch 12/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 13/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 14/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 15/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 16/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 17/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 18/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 19/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 20/50
 - 8s - loss: 0.0410 - acc: 0.7340
Epoch 21/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 22/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 23/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 24/50
 - 9s - loss: 0.0412 - acc: 0.7340
Epoch 25/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 26/50
 - 9s - loss: 0.0412 - acc: 0.7340
Epoch 27/50
 - 10s - loss: 0.0412 - acc: 0.7340
Epoch 28/50
 - 10s - loss: 0.0410 - acc: 0.7337
Epoch 29/50
 - 12s - loss: 0.0411 - acc: 0.7340
Epoch 30/50
 - 10s - loss: 0.0411 - acc: 0.7340
Epoch 31/50
 - 9s - loss: 0.0412 - acc: 0.7340
Epoch 32/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 33/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 34/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 35/50
 - 8s - loss: 0.0411 - acc: 0.7331
Epoch 36/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 37/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 38/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 39/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 40/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 41/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 42/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 43/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 44/50
 - 8s - loss: 0.0412 - acc: 0.7340
Epoch 45/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 46/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 47/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 48/50
 - 8s - loss: 0.0411 - acc: 0.7340
Epoch 49/50
 - 140s - loss: 0.0412 - acc: 0.7340
Epoch 50/50
 - 10s - loss: 0.0411 - acc: 0.7340
--- 558.112979888916 seconds ---

In [25]:
# make predictions
trainPredict = model.predict(trainX)
testPredict = model.predict(testX)
# invert predictions
trainPredict = scaler.inverse_transform(trainPredict)
trainY = scaler.inverse_transform([trainY])
testPredict = scaler.inverse_transform(testPredict)
testY = scaler.inverse_transform([testY])
# calculate root mean squared error
trainScore = math.sqrt(mean_squared_error(trainY[0], trainPredict[:,0]))
print('Train Score: %.2f RMSE' % (trainScore))
testScore = math.sqrt(mean_squared_error(testY[0], testPredict[:,0]))
print('Test Score: %.2f RMSE' % (testScore))

Train Score: 1.42 RMSE
Test Score: 1.05 RMSE

In [26]:
#save state of model
# serialize model to JSON
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model.h5")
print("Saved model to disk")

Saved model to disk

In [27]:
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [ ]:
#DECISION TREE

In [5]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

feature_cols = ['tagVal','latitude', 'longitude', 'tdiff', 'geodist', 'day', 'week', 'month',]

X = df[feature_cols] # Features
y = df['tagVal'] # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9991319444444444